body {
  height: 100%;
}

.body__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.main__article-blog {
  background-color: $white;
  padding: 24px;
  min-width: 327px;
  max-width: 384px;
  border-radius: 20px;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 1);
  border: 1px solid $gray950;
}

.figure-card-block__img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 24px;
}

.figure-card-blog__caption {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 24px;
  > :not(:last-child) {
    color: $gray950;
  }

  .caption__status {
    padding: 4px 12px;
    align-self: flex-start;
    border-radius: 4px;
    background-color: $yellow;
  }

  .caption__datetime {
    font-size: clamp(12px, 3.645vw, 14px);
    @include text-preset($weight500, 150%, 0px);

    // 14 / 384 = 0.0364
    // 0.0364 * 100 = 3.64
    // 14 / 114.3 = 0.1225
  }

  .caption__title {
    font-size: clamp(20px, 6.25vw, 24px);
    @include text-preset($weight700, 150%, 0px);
  }

  .caption_description {
    font-size: clamp(14px, 4.167vw, 16px);
    @include text-preset($weight500, 150%, 0px);
    color: $gray500;
  }
}

.figure-card-blog__user-preview {
  display: inline-flex;
  align-items: center;
  gap: 12px;

  .user-preview__img {
    height: 32px;
    width: 32px;
  }
}

.caption__status {
  font-size: clamp(12px, 3.645vw, 14px);
  @include text-preset($weight700, 150%, 0px);
}

.user-preview__span {
  font-size: 14px;
  @include text-preset($weight700, 150%, 0px);
}